* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 5px 10px rgb(35, 33, 33);
  padding: 0px 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: -1;
  text-decoration: none;
}

header .logo {
  font-family: cursive;
  font-weight: bolder;
  font-size: 27px;
  color: white;
  text-decoration: none;
}

header .navbar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

header .navbar ul li {
  position: relative;
  float: left;
  text-decoration: none;
}

header .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  color: white;
  display: block;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
}

header .navbar ul li a:hover {
  background-color: #333;
  color: #fff;
}

header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 170px;
  background: black;
  display: none;
}

header .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid black;
  text-decoration: none;
}

header .navbar ul li ul li ul {
  left: 170px;
  top: 0;
}

header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul {
  display: initial;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
}

.fir-sec {
  margin: 50px;
  color: #eee;
}

.button1 a,
.button2 a {
  color: #1e1d1d;
  text-decoration: none;
  font-weight: 800;
}

.button1 {
  padding: 10px 20px;
  background-color: #eee;
  color: #333;
  font-size: 17px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 30px;
  border: #333 2px 2px;
}

.button2 {
  padding: 10px 28px;
  background-color: #eee;
  color: #1e1d1d;
  font-size: 17px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0px;
}

#carouselExampleIndicators {
  z-index: -1;
}

.h5 {
  margin: 20px;
}

.fourth {
  margin: 3%;
}

.fifth {
  margin: 30px;
}

.third-div {
  margin: 5%;
}

.html,
.css,
.js {
  margin: 50px;
  list-style: square;
}

.hello {
  display: flex;
  justify-content: space-around;
}

img{
  max-height: 100%;
  max-width: 100%;
}

.img_1, .img_2{
  max-width: 50vh;
  max-height: 50vh;
}

.a, .b, .c{
  margin: 1.5%;
}


footer {
  padding: 3% 20%;
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: center;
}

.second, .third {
  justify-content: space-between;
  display:flex ;
  margin: 50px;
  align-items: center;
}

.second-h3, .third-h3, .fifth-h3{
  font-size:40px;
}

.second-p, .third-p, .fifth-p{
  font-size:20px;
}









@media(max-width:1430px) {

  header .logo {
    font-size: 23px;
  }

  header .navbar ul li a {
    font-size: 15px;
  }

  .button1 {
    padding: 7px 17px;
    font-size: 15px;
  }

  .button2 {
    padding: 7px 24px;
    font-size: 15px;
  }

}


@media(max-width:1150px) {

  header .logo {
    font-size: 20px;
  }

  header .navbar ul li a {
    font-size: 13px;
  }

  .second, .third {
  margin: 30px;
}

.second-h3, .third-h3, .fifth-h3{
  font-size:30px;
}

.second-p, .third-p, .fifth-p{
  font-size:15px;
}

.img-1, .img-2{
  max-width: 450px;
  max-height: 450px;
}

}


@media(max-width:1080px) {

  header .logo {
    font-size: 18px;
  }

  header .navbar ul li a {
    font-size: 15px;
  }

  .button1 {
    padding: 7px 15px;
    font-size: 15px;
  }

  .button2 {
    padding: 7px 22px;
    font-size: 14px;
  }

}



@media(max-width:1060px) {

  header {
    padding: 20px;
  }

  header label {
    display: initial;
  }

  header .logo {
    font-size: 15px;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid #333;
    display: none;
  }

  header .navbar ul li {
    width: 100%;
  }

  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }

  header .navbar ul li ul li {
    background: #eee;
  }

  header .navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }

  #menu-bar:checked~.navbar {
    display: initial;
  }

  .button {
    display: none;
  }

  button:hover {
    cursor: pointer;
  }

  .html,
  .css,
  .js {
    font-size: 14px;
  }

  .h5 {
    font-size: 17px;
  }

}



@media(max-width:900px) {
header .logo{
font-size:12px;
}
  .second, .third {
  margin: 20px;
}

.second-h3, .third-h3, .fifth-h3{
  font-size:26px;
}

.second-p, .third-p, .fifth-p{
  font-size:14px;
}

.img-1, .img-2{
  max-width: 400px;
  max-height: 400px;
}

footer {
  font-size: 16px;
}
}

@media(max-width:790px) {
  .logo{
    font-size:10px;
  }
  .second, .third {
  margin: 17px;
}

.second-h3, .third-h3, .fifth-h3{
  font-size:22px;
}

.second-p, .third-p, .fifth-p{
  font-size:12px;
}

.img-1, .img-2{
  max-width: 380px;
  max-height: 0px;
}

.h4-1, .h4-2, .h4-3, .h4-4{
  font-size:15px;
}

footer {
  font-size: 13px;
}
}


@media(max-width:450px) {
  .logo{
    font-size:10px;
  }
  .second, .third {
  margin: 17px;
}

.second-h3, .third-h3, .fifth-h3{
  font-size:18px;
}

.second-p, .third-p, .fifth-p{
  font-size:11px;
}

.img-1, .img-2{
  max-width: 380px;
  max-height: 0px;
}

.h5{
  font-size:15px;
}

.h4-1, .h4-2, .h4-3, .h4-4{
  font-size:14px;
}

footer {
  font-size: 10px;
}
}